@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;

}

:root{
    --lead:#212121;
    --gold-finger:#F2BD12;
    --eye-ball:#FFFDF7;
    --hint-yellow:#FCF1CC;
    --pure-white:#FFF;
}
.flex{

    display: flex;
    align-items: center;
}
.between{
    justify-content: space-between;
}
.gap-3{
    gap: 3rem;
}
.wraper{
    max-width: 1400px;
    background-color:gold ;
    margin: auto;
    padding-inline: 1.5rem;

}
body{
    background-color: var(--eye-ball);
}

a{
    font-size: 1rem;
    text-decoration: none;
    color:var(--lead) ;


}

li{
    list-style: none;
}

.navbar{
    min-height:14vh ;
}











































































